html { 
	height: 100%;
	width: 100% 
}

body { 
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0
}

#map { 
	height: 100vh;
	width: 100% 
}

.places-container {
	background-color: #F5F5F5;
	overflow: auto;
	height: 100vh;
	z-index: 1;
}

.post-container h3 {
	margin: 0;
}

ul li {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: .5px solid silver;
	text-align: center;
}

ul {
	padding-left: 0; 
}