html { 
	height: 100%;
	width: 100% 
}

body { 
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0
}

#map { 
	height: 90vh;
	width: 100% 
}

.places-container {
	background-color: #81CFE0;
	overflow: auto;
	height: 90vh;
	z-index: 1;
}

.post-container h3 {
	margin: 0;
}

ul li {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: .5px solid #E4F1FE;
	text-align: center;
}

ul {
	padding-left: 0; 
}

.selected {
	background-color: #22A7F0
}

.search-container {
	background-color: #F2F1EF;
	padding: 10px 10px
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

